---
layout: base.njk
---
<div>
    <a href="/">Home</a>
</div>
<main>
    <h1>{{ title | capitalize }}</h1>
    <time datetime="{{ page.date | dateFormat }}">
        {{ page.date | dateFormat }}
    </time>
    {{ content | safe }}
</main>
<nav>
    <ul>
        {%- for post in collections.all %}
            <li>
                <a href="{{ post.url }}"
                        {% if post.url == page.url %}
                            aria-current="page"
                        {% endif %}
                >{{ post.data.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>